@charset "UTF-8";
/* CSS Document */


body {
    width: 100%;
    height: 100%;
    background-color: #EDE9FD;
    animation-name: purpletopink;
    animation-duration: 10.04s;
    animation-direction: forward;
    animation-iteration-count: infinite;
	color: whitesmoke;
    font-family: 'Shrikhand', cursive;
	letter-spacing: 2px;
	font-size: 36pt;
    text-align: center;
    font-weight: 500px;
}
	
	div {
        margin: 0px
          
}
	
	#center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
	
	@keyframes purpletopink {
    from {background-color: #EDE9FD;}
    to {background-color: lightpink;}
}
	
	@keyframes fadeInOut {
		0% {
			opacity: 0;
		}
		45% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			}
		}
		
	@keyframes flash 
	{
	from, 0%,
  	to {opacity: 1;}
	25%, 75% {opacity: 0;}
}	
	#flash {
		animation-name: flash;
		animation-duration: .01s;
		animation-iteration-count: 100;
	}

	.div1 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 1s;
		animation-duration: 10s;
		z-index: 10;
	}
	.div2 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 5s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div3 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 10s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div4 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 15s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div5 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 20s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div6 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 25s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div7 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 30s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div8 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 35s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div9 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 40s;
		animation-duration: 5s;
		z-index: 10;
	}
	.div10 {
		margin-top: 1%;
		opacity: 0;
		animation-name: fadeInOut;
		animation-delay: 45s;
		animation-duration: 5s;
		z-index: 10;
	}
	
footer {
    text-align: center;
     margin: 10px 0;
        font-size: 18px;
}

/*Vertical Flip*/
.verticalFlip{
	display: inline;
	text-indent: 10px;
}
.verticalFlip span{
	animation: vertical 4.5s linear infinite 0s;
	-ms-animation: vertical 4.5s linear infinite 0s;
	-webkit-animation: vertical 4.5s linear infinite 0s;
	color: whitesmoke;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.verticalFlip span:nth-child(2){
	animation-delay: .5s;
	-ms-animation-delay: .5s;
	-webkit-animation-delay: .5s;
}
.verticalFlip span:nth-child(3){
	animation-delay: 1s;
	-ms-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.verticalFlip span:nth-child(4){
	animation-delay: 1.5s;
	-ms-animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.verticalFlip span:nth-child(5){
	animation-delay: 2s;
	-ms-animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.verticalFlip span:nth-child(6){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}

.verticalFlip span:nth-child(7){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}

.verticalFlip span:nth-child(8){
	animation-delay: 3.5s;
	-ms-animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}

.verticalFlip span:nth-child(9){
	animation-delay: 4s;
	-ms-animation-delay: 4s;
	-webkit-animation-delay: 4s;
}


/*Vertical Flip Animation*/
@-moz-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotateX(180deg); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}

@-ms-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotateX(180deg); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes vertical{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}